<div class="large-6 large-centered column">
  <h3>Create a new Post</h3>
  	<%= simple_form_for @post do |f| %>
  	  <div class="input-group">
  	    <%= f.input :title, :placeholder => "Title" %>	
  	  </div>
      <div class="input-group">
        <%= f.input :tag, :placeholder => "Tag" %>  
      </div>
  	  <div class="input-group">
  	    <%= f.text_area :description, :rows => 10, :cols => 120, :placeholder => "Enter text here...", :class => "tinymce" %>	
        <%= tinymce %>
  	  </div>
  	  <div class="input-group">
  	  	<label for="post_thumbnail" class="small button white_button">Upload File</label>
  	    <%= f.input :thumbnail, :class => "show-for-sr", as: :file %>	
  	  </div>
      <%= f.button :submit, :class => "small button white_button" %>
    <% end %>
  </div>