<%= content_for :title do %>
	<%= @post.title.titleize %>
<% end %>
<style type="text/css">
	.title-bar {
  background: transparent;
}
.top-bar {
  background: transparent;
  box-shadow: none;
  position: relative;
  display: block;
  z-index: 99;
 }
 .top-bar ul {
    background: transparent;
 }
 .top-bar ul li {
      background: transparent;
 }
</style>
<div class="post_banner">
  <h1><%= @post.title.upcase %></h1>
  <div style="background: url('<%= @post.thumbnail.url(:medium) %>') no-repeat center center; width: 100%; height: 500px; background-size: cover;opacity: 0.5;">
  </div>
</div>
<div class="row post_description_space">
	<div class="large-6 large-centered column">
	  <p>
	  	<%= @post.description.html_safe %>
	  </p><br>
    <% if user_signed_in? %>
	   <%= link_to "Edit Post", edit_post_path(@post.id), :class => "small button white_button" %>
    <% end %>
	</div>
</div>
<div class="row">
	<div class="large-6 large-centered column">
		<% @post.comments.each do |comment| %>
			<%= comment.user.email %>
			<%= comment.message.html_safe %>
			<%= link_to "Delete" ,"/posts/#{ @post.id }/comments/#{ comment.id }",
			  method: :delete %><br><br>
		<% end %>
	</div>
</div>
<div class="row comments">
	<div class="large-6 large-centered column">
		<%= simple_form_for [@post, @post.comments.new] do |f| %>
		  <h1>Comment</h1>
			<div class="input-group">
				<%= f.text_area :message, :rows => 10, :cols => 120, :placeholder => "Enter text here...", :class => "tinymce" %>
				<%= tinymce %>
			</div>
			<%= f.button :submit, :class => "small button white_button", :value => "Comment" %>
		<% end %>
	</div>
</div>
